$darkest: #181818;
$darker: #282828;
$dark: #404040;
$grey: #b3b3b3;
$light: #ffffff;
$blue: #5853ff;
$red: #ff5353;
$green: #8bd191;
$blue: #538fff;
$yellow: #fffc53;
$transparent: rgb(0, 0, 0, 0);

$text1: "Roboto";
$text2: cursive;
