@import "Colors.scss";

footer {
  background-color: $darkest;
  height: 100%;
  width: 100%;
  color: $light;
  padding: 1rem;
  box-shadow: 0px 0px 10px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px solid white;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      > a {
        text-decoration: none;
        color: $red;
        margin: 0 1rem 1rem 1rem;
        &:hover {
          color: $light;
        }
      }
    }

    > h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
      color: $light;
      margin: 1.5rem;
    }
    > h6 {
      font-weight: 100;
      font-size: 1rem;
      color: $light;
      // margin: 1rem 0;
      text-align: center;
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    a {
      color: $red;
      font-weight: 900;
      font-size: 1.8rem;
      margin: 0 10px;
      &:hover {
        color: $light;
      }
    }
  }
  p {
    font-weight: 100;
    // color: $red;
    opacity: 90%;
    font-size: 0.7rem;
  }
}
