@import "Colors.scss";

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  // background-color: $transparent;
  // background-color: $darker;
  z-index: 2;

  &::before {
    // margin: 0;
    // padding: 0;
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: no-repeat center center/cover url("../assets/1.1.jpg");
    // background-attachment: fixed;
    // background-image: url("../assets/1.2.jpg");
    top: 0px;
    left: 0px;
    opacity: 25%;
    background-size: cover;
    // background: no-repeat;
    filter: blur(5px);
    z-index: -1;
  }

  > .social {
    display: flex;
    flex-direction: column;
    color: $light;
    margin-left: 3rem;
    > a {
      color: white;
      font-size: 2rem;
      padding: 0.5rem;
      z-index: 10;

      &:hover {
        color: $red;
      }
    }
  }
  > img {
    width: 25%;
    border-radius: 1000000000px;
    margin-right: 10rem;
    animation: imgUp 0.7s linear infinite alternate;
    box-shadow: -10px 10px 20px 0px black;
  }
  > .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 3rem;
    > h1 {
      font: 400 6rem "Open Sans", arial, sans-serif;
      color: $light;
      display: flex;
      align-items: baseline;
      text-transform: uppercase;
      > h3 {
        font-size: 3rem;
        color: $red;
      }
    }
    > p {
      font: 600 1rem "Open Sans", arial, sans-serif;
    }
    > .CV {
      margin: 1rem 0;
      width: 10rem;
      padding: 1rem;
      border-radius: 100px;
      background-color: $red;
      box-shadow: 5px 5px 10px 0px black;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s;
      color: white;
      border: 0;
      &:hover {
        background-color: $red;
        opacity: 80%;
      }
      > a {
        color: white;
      }
    }
  }
}

@keyframes imgUp {
  to {
    transform: translateY(-10px);
  }
}

.about {
  width: 100%;
  height: 100vh;
  background-color: $darkest;
  // z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem;
  > h1 {
    padding: 1rem;
    margin-top: 7rem;
    border-bottom: 2px solid $red;
    text-transform: uppercase;
  }
  > .aboutInside {
    display: flex;
    align-items: center;
    padding: 3rem;
    margin: 3rem 0;

    > img {
      box-shadow: 15px 15px 20px 5px black;
      border-radius: 25px;
      position: relative;
      margin-left: 10%;
    }
    > div {
      > h4 {
        color: $red;
      }
      > .pAbout {
        text-align: justify;
        color: $grey;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      > .Education {
        display: grid;

        grid-template-columns: repeat(2, max-content);
        column-gap: 3rem;
        margin-top: 1rem;

        > .gridItem {
          margin-bottom: 1rem;
          display: flex;
          > p {
            margin-left: 0.5rem;
            color: $grey;
          }
        }
      }
      > .College {
        // border: ;
        display: flex;
        margin: 1rem 0;

        > p {
          color: $grey;
        }
      }
      > .Diploma {
        display: flex;
        > p {
          color: $grey;
          margin-bottom: 1rem;
        }
      }
      > .skills {
        h4 {
          margin: 1rem 0;
        }
        > ul {
          list-style-type: none;
          display: grid;
          grid-template-columns: repeat(4, max-content);
          column-gap: 1rem;
          justify-content: space-between;
          li {
            margin-bottom: 1rem;
            color: $grey;
          }
        }
      }
    }
  }
}

.projects {
  // height: 130vh;
  // height: 200%;
  width: 100%;
  background: $darker;
  // display: flex;
  // border: 10px solid rgb(0, 60, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  > h1 {
    padding: 1rem 5rem;
    margin-top: 6rem;
    border-bottom: 2px solid $red;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 6rem;

    > .slides {
      padding: 1rem;
      > img {
        width: 100%;
        box-shadow: 10px 10px 10px 0 black;
      }
      > .details {
        display: flex;
        flex-direction: column;
        padding: 2rem 0 0 0;
        h2 {
          color: $red;
        }
        h5 {
          font-weight: 300;
          color: $grey;
          margin: 0.5em 0 1rem 0;
        }
        > .tech {
          display: flex;
          font-weight: 700;
          p {
            margin-left: 5px;
            font-weight: 400;
            color: $green;
            margin-bottom: 1rem;
          }
        }
        .btn {
          display: flex;
          justify-content: flex-start;
          > button {
            width: 100px;
            border-radius: 10px;
            height: 50px;
            border-radius: 1rem;
            margin: 0.5rem 2rem 0 0;
            border-style: none;
            background-color: $red;
            &:hover {
              opacity: 80%;
            }
            > a {
              display: flex;
              justify-content: center;
              text-transform: uppercase;
              color: white;
            }
          }
        }
      }
    }
  }
}
